@using Bookstore.Models;
@model Checkout

<style>
    .column {
        float: left;
        width: 33.3%;
        padding: 10px;
        height: 800px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .button {
        background-color: springgreen;
        border-radius: 8px;
    }
    .button2 {
        background-color:goldenrod;
        border-radius: 8px;
    }
    input[type=submit]{
        background-color:springgreen;
        border-radius:8px
    }
 
</style>
<h1 style="text-align:center">Checkout</h1><br />
<table style="width:100%">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                Quantity
            </th>
            <th>
                Item Subtotal
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model.CheckoutItem)
        {
            if (c.Quantity > 0)
            {
                <tr>
                    <td>@c.Book.Title</td>
                    <td>@c.Quantity</td>
                    <td>@c.Subtotal </td>
                </tr>
            }
        }

    </tbody>
</table>
<br />
<div>
    <b>Subtotal:</b> @Model.Subtotal<br />
    <b>Sales Tax:</b> @Model.SalesTax<br />
    <b>Total:</b> @Model.Total
</div>
<br />


<form action="/Bookstore/Payment" method="post">
    
    <div class="column">
        <h3>Payment Information:</h3>
        <label for="total">Payment:</label>
        <input type="number" step="0.01" id="total" name="total" value="@Model.Total" readonly style="border-style:none;" /><br />
        <p>Choose your card:</p>
        <input type="radio" id="mastercard" name="cctype" value="mastercard" required />
        <label for="mastercard">MasterCard</label><br />
        <input type="radio" id="visa" name="cctype" value="visa" required />
        <label for="visa">Visa</label><br />
        <input type="radio" id="discover" name="cctype" value="discover" required />
        <label for="discover">Discover</label><br />
        <label for="name">Name on Card:</label><br />
        <input type="text" id="name" name="name" required /><br />
        <label for="ccnum">Credit Card Number:</label><br />
        <input type="text" id="ccnum" name="ccnum" minlength="15" maxlength="16" required /><br />
        <label for="ccv">CCV Number:</label><br />
        <input type="text" id="ccv" name="ccv" minlength="2" maxlength="3" required /><br />
        <label for="month">Exp Month (MM): </label><br />
        <input type="text" id="month" name="month" minlength="2" maxlength="2" required /><br />
        <label for="year">Exp Year (YY):</label><br />
        <input type="text" id="year" name="year" minlength="2" maxlength="2" required /><br />
    </div>
    <div class="column">
        <h3>Billing Information:</h3>
        <label for="billname">Billing Name:</label><br />
        <input type="text" id="billname" name="billname" required /><br />
        <label for="address">Address:</label><br />
        <input type="text" id="address" name="address" required /><br />
        <label for="city">City:</label><br />
        <input type="text" id="city" name="city" required /><br />
        <label for="state">State:</label><br />
        <input type="text" id="state" name="state" required /><br />
        <label for="zip">Zip Code:</label><br />
        <input type="text" id="zip" name="zip" minlength="5" maxlength="5" required /><br />
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" required /><br />
    </div>
    <div class="column">
        <h3>Shipping Address:</h3>
        <label for="shipname">Shipping Name:</label><br />
        <input type="text" id="shipname" name="shipname" required /><br />
        <label for="shipaddress">Address:</label><br />
        <input type="text" id="shipaddress" name="shipaddress" required /><br />
        <label for="shipcity">City:</label><br />
        <input type="text" id="shipcity" name="shipcity" required /><br />
        <label for="shipstate">State:</label><br />
        <input type="text" id="shipstate" name="shipstate" required /><br />
        <label for="shipzip">Zip Code:</label><br />
        <input type="text" id="shipzip" name="shipzip" minlength="5" maxlength="5" required /><br /><br />
        <input type="submit" value="Submit" />
    </div>
</form>

<button class="button2" onclick="goBack()">Back to Cart</button>
<button class="button" onClick="location.href='/Bookstore/SearchIndex'">Return to Book Search</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>

