@model Bookstore.Models.Books

    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;
}

.button{
    background-color: springgreen;
    border-radius: 8px;
}
 input[type=submit] {
            background-color: goldenrod;
            border-radius: 8px
        }
</style>
        </head>
<body>
    <div class="column">
<img src=@Model.Image style="width:50%; height:70%">
        </div>
    <div class="column">
<h1>@Model.Title</h1>
<h2>Author: @Model.Author</h2>
<p><b>Publish Date:</b> @Model.PublishDate.ToShortDateString()</p>
<p><b>Pages:</b> @Model.Pages</p>
<p><b>Genre:</b> @Model.Genre</p>
<p><b>Price:</b> $@Model.Price</p>
<p><b>Description:</b> @Model.Description</p>
        </div>
    </body>
<br />
@if (Model.Quantity > 0)
{
<form action="/Bookstore/AddToCart" method="post">
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    Quantity: <input type="number" id="quantity" name="quantity" min="1" max="@Model.Quantity" />
    <input type="submit" value="Add to cart" />
</form>}
else
{
    <h5>Out of Stock</h5>
}

<br />
<button class="button" onclick="goBack()">Back to Book Index</button>


<script>
function goBack() {
  window.history.back();
}
</script>
